---
layout: main
title: Dictionaries
permalink: /dictionaries/
---

Dictionaries
<div class="page-dictionaries">
    {% for languages in site.data.dictionaries %}
        <div class="dictionary-wrapper">
            <h2 class="language">{{ languages.language }}</h2>
            <div class="dictionary-box">
                
                <div class="buttons">
                        {% for dictionary in languages.dictionaries %}
                            <div class="button">
                                <label for="{{ dictionary.dictionary_name | slugify }}-toggle" class="{{ dictionary.dictionary_name | slugify }}-label">{{ dictionary.dictionary_name }}</label>
                            </div>
                        {% endfor %}  
                </div>
    
                <div class="dictionary-main">
                    {% for dictionary in languages.dictionaries %}
                        {% if forloop.first %}
                            <input type="radio" id="{{ dictionary.dictionary_name | slugify }}-toggle" class="dict-show-toggle" name="dict-show-toggle-{{ languages.language | slugify }}" checked>
                        {% else %}
                            <input type="radio" id="{{ dictionary.dictionary_name | slugify }}-toggle" class="dict-show-toggle" name="dict-show-toggle-{{ languages.language | slugify }}">
                        {% endif %}
                        <div class="dict-main-item {{ dictionary.dictionary_name | slugify }}-main">
                            <div class="dict-data-item {{ dictionary.dictionary_name | slugify }}-dict">
                                <div class="dict-data">
                                    {% for data in dictionary.dictionary_data %}
                                        {% for item in data %}
                                            <div class="info-pair {{ item[0] }}">
                                                <p class="data-key">{{ item[0] | replace: '_', ' ' }}</p>
                                                <p class="data-value">{{ item[1] }}</p>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="dict-image-item {{ dictionary.dictionary_name | slugify }}-image">
                                <img src="{{ dictionary.image }}" alt="">
                            </div>
                            <div class="proj-data-item {{ dictionary.dictionary_name | slugify }}-proj">
                                {% for proj_data in dictionary.project_data %}
                                    {% for proj_item in proj_data %}
                                        <div class="info-pair {{ proj_item[0] }}">
                                            <p class="data-key">{{ proj_item[0] | replace: '_', ' ' }}</p>
                                            <p class="data-value">{{ proj_item[1] }}</p>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>