---
layout: main
title: Translations
permalink: /translations/
---

<div class="page-translations">
    <div class="page-info">
        <div class="page-info-logo">
            <img src="{{ site.baseurl }}/images/circle-logo.png" alt="">
        </div>
        <div class="page-info-wrapper">
            <div class="page-info-languages">
                <h2>New translations of Lucian available</h2>
                <p>We've added "The Dead Come to Life or The Fisherman", "The Double Indictment or Trials by Jury" and "The Dream or Lucian's Career".</p> 
            </div>
            <div class="page-info-general">
                <div class="dict-banner-text">
                    <i class="fas fa-book"></i>
                    <p>A collection of 10 authors and over 50 translated works, amounting to hundrets of pages.</p>
                </div>
                <div class="dict-banner-text">
                    <i class="fas fa-book-open"></i>
                    <p>Our collection is only Greek for now but we're working on expanding it with Latin authors.</p>
                </div>
                <div class="dict-banner-text">
                    <i class="fas fa-lock-open"></i>
                    <p>Each translation can be accessed after you log in with your institution's e-mail address.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="translations-wrapper">
        {% for text_lang in site.data.translations %}
            <div class="translations-box {{ text_lang.language | slugify }}">
                <div class="lang-section {{ text_lang.language | slugify }}">
                    <div class="lang-sec-logo">
                        <img src="{{ site.baseurl }}/{{ text_lang.lang_image }}" alt="">
                    </div>
                    <div class="lang-section-info">
                        <p>{{ text_lang.language }}</p>
                        <p>{{ text_lang.lang_info }}</p>
                    </div>
                </div>
                {% for author in text_lang.authors %}
                    <div class="author {{ author.author_name | slugify }}" style="background-image: url({{ site.baseurl }}/{{ author.image }});">
                        <h3>{{ author.author_name }}</h3>
                        <p class="years">{{ author.years }}</p>
                        {% for work in author.works %}
                            {% if forloop.first %}<ul>{% endif %}
                                <li><p>{{ work }}</p></li>
                            {% if forloop.last %}</ul>{% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="timeline-authors">
                    <h3>Timeline</h3>
                    <div class="t-years">
                        <span class="century">8th century BC</span>
                        <span class="t-author">Homer</span>
                        <span class="century">7th century BC</span>
                        <span class="century">6th century BC</span>
                        <span class="t-author">Aeschylus</span>
                        <span class="century">5th century BC</span>
                        <span class="t-author">Herodotus</span>
                        <span class="t-author">Sophocles</span>
                        <span class="t-author">Euripides</span>
                        <span class="t-author">Hippocrates</span>
                        <span class="t-author">Lysias</span>
                        <span class="t-author">Plato</span>
                        <span class="t-author">Aristophanes</span>
                        <span class="century">4th century BC</span>
                        <span class="century">3rd century BC</span>
                        <span class="century">2nd century BC</span>
                        <span class="century">1st century BC</span>
                        <span class="century">1st century AD</span>
                        <span class="century">2nd century AD</span>
                        <span class="t-author">Lucian</span>
                    </div>
                </div>
            </div>
        {% endfor %} 
    </div>
</div>