---
layout: main
title: Translations
permalink: /translations/
---

<div class="page-translations">
    <div class="page-info">
        <div class="page-info-logo">
            <img src="{{ site.baseurl }}/images/circle-logo.png" alt="">
        </div>
        <div class="page-info-wrapper">
            <div class="page-info-languages">
                <h2>Currently we have dictionaries in the following languages:</h2>
                <ul>
                    <li><a href="">Blalal - Sinolam</a></li>
                    <li><a href="">Yaolaisdl - Konkihonki</a></li>
                    <li><a href="">Pakshdkjasd - Banadal</a></li>
                    <li><a href="">aksjdkjasd - Gfkahasjks</a></li>
                    <li><a href="">KHGksahd - KHDShsadf</a></li>
                </ul>
            </div>
            <div class="page-info-general">
                <div class="dict-banner-text">
                    <i class="fas fa-book"></i>
                    <p>Our collection of over 20 fully digitized dictionaries with over 6000 lemmas in total.</p>
                </div>
                <div class="dict-banner-text">
                    <i class="fas fa-search"></i>
                    <p>The dictionaries are provided with a search engine, supporting search in three alphabets.</p>
                </div>
                <div class="dict-banner-text">
                    <i class="fas fa-lock-open"></i>
                    <p>Each dictionary can be accessed after you log in with your institution's e-mail address.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="translations-wrapper">
        {% for text_lang in site.data.translations %}
            <div class="translations-box {{ text_lang.language | slugify }}">
                <div class="lang-section {{ text_lang.language | slugify }}">
                    <div class="lang-sec-logo">
                        <img src="{{ text_lang.lang_image }}" alt="">
                    </div>
                    <div class="lang-section-info">
                        <p>{{ text_lang.language }}</p>
                        <p>{{ text_lang.lang_info }}</p>
                    </div>
                </div>
                {% for author in text_lang.authors %}
                    <div class="author {{ author.author_name | slugify }}" style="background-image: url('{{ author.image }}');">
                        <h3>{{ author.author_name }}</h3>
                        <p class="years">{{ author.years }}</p>
                        {% for work in author.works %}
                            {% if forloop.first %}<ul>{% endif %}
                                <li><p>{{ work }}</p></li>
                            {% if forloop.last %}</ul>{% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="timeline-authors">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam omnis modi facere fugiat alias facilis laudantium aliquid asperiores nihil quasi quaerat molestiae dolorem nobis, dolore suscipit! Molestiae porro numquam quas?</p>
                </div>
            </div>
        {% endfor %} 
    </div>

</div>