@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font: 14px/1.5 'Noto Sans', sans-serif; }

body, form, table, input, textarea, option, select, button {
  font: inherit; }

.site-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 1em; }

.site-title {
  font-size: 2em; }

.site-logo {
  height: 2.5em;
  width: auto;
  padding-left: 1em; }
