@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  color: black;
  text-decoration: none; }

li {
  display: block; }

html {
  font: 15px/1.5 'Source Sans Pro', sans-serif; }

body, form, table, input, textarea, option, select, button {
  font: inherit; }

.about h1 {
  padding: 0 3em 0.5em;
  font-size: 2em; }

.about p {
  padding-bottom: 0.5em; }

.history {
  max-width: 70em;
  padding: 0 2em;
  margin: 2em auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 5em; }
  @media only screen and (max-width: 768px) {
    .history {
      flex-wrap: wrap; } }
  .history-main img {
    display: block;
    width: 18em;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
    border-radius: 0.3rem;
    box-shadow: 0 0 1em rgba(110, 48, 51, 0.7); }
  .history-main:after {
    content: "";
    display: block;
    clear: both; }
  .history-buttons {
    margin-left: 3em;
    width: 50em; }
    @media only screen and (max-width: 768px) {
      .history-buttons {
        flex-basis: 100%;
        margin: 0; } }
    .history-buttons a {
      display: block;
      font-size: 1.3em;
      padding: 3rem 2rem;
      background-color: white;
      min-width: 21rem;
      text-align: center;
      text-transform: uppercase;
      color: #fffbf6;
      border-radius: 0.4rem;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
      position: relative;
      -webkit-transition: -webkit-transform .35s ease-in-out;
      transition: -webkit-transform .35s ease-in-out;
      transition: transform .35s ease-in-out;
      transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out; }
      .history-buttons a:after {
        content: "";
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.6;
        -webkit-filter: blur(1.5px);
                filter: blur(1.5px);
        display: block;
        z-index: -1; }
      .history-buttons a:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
    .history-buttons .button-p {
      margin-bottom: 1em;
      background-color: rgba(100, 141, 103, 0.6); }
      .history-buttons .button-p:after {
        background-image: url("../images/button-p.png"); }
    .history-buttons .button-c {
      background-color: rgba(29, 125, 129, 0.6); }
      .history-buttons .button-c:after {
        background-image: url("../images/button-c.jpg"); }

.mission-wrapper {
  background-color: #beadaf;
  padding: 0.3em 0; }

.mission {
  display: grid;
  grid-template-columns: 1.5fr 8em 2fr;
  -webkit-box-align: center;
          align-items: center;
  max-width: 70em;
  padding: 0 2em;
  margin: 2em auto; }
  @media only screen and (max-width: 768px) {
    .mission {
      display: block; } }
  .mission h1 {
    grid-column: 1 / 4; }
  .mission .media {
    grid-column: 1 / 3;
    grid-row: 2;
    z-index: 10; }
    @media only screen and (max-width: 768px) {
      .mission .media {
        max-width: 20em;
        margin: 0 auto; } }
    .mission .media img {
      width: 100%;
      border-radius: 50%;
      padding: 0.1em;
      background-color: #beadaf; }
  .mission-list {
    grid-column: 2 / 4;
    grid-row: 2; }
    .mission-list li {
      font-size: 1.1em;
      background-color: #648d67;
      padding: 1em;
      padding-left: 9rem;
      margin-bottom: 1em;
      color: #fffbf6; }
      .mission-list li:nth-child(odd) {
        padding-left: 7.5rem; }
      @media only screen and (max-width: 768px) {
        .mission-list li {
          padding-left: 1em; } }

.current-projects {
  max-width: 80em;
  padding: 0 2em;
  margin: 2em auto; }
  .current-projects .cp-text p {
    font-size: 1.2em;
    margin-left: 1em;
    padding-bottom: 1em; }
  .current-projects .cp-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1.3fr 1fr 0.8fr 1.6fr;
    grid-gap: 0.7em; }
    @media only screen and (max-width: 960px) {
      .current-projects .cp-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1.3fr 1fr 0.8fr 1.6fr 1fr; } }
    @media only screen and (max-width: 768px) {
      .current-projects .cp-grid {
        display: block; } }
    .current-projects .cp-grid li {
      display: list-item;
      list-style: circle;
      list-style-position: inside; }
    .current-projects .cp-grid > div {
      background-color: #502426;
      padding: 1.5em;
      border-radius: 0.4rem;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: center;
              align-items: center;
      position: relative;
      overflow: hidden;
      color: white;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.3); }
      @media only screen and (max-width: 768px) {
        .current-projects .cp-grid > div {
          margin-bottom: 1em; } }
      .current-projects .cp-grid > div:after {
        content: "";
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        -webkit-filter: blur(1.5px);
                filter: blur(1.5px); }
      .current-projects .cp-grid > div .card-content {
        -webkit-box-flex: 1;
                flex-grow: 1;
        z-index: 10;
        font-size: 1.1em;
        text-shadow: 0 0 1em black; }
      .current-projects .cp-grid > div a {
        display: inline-block;
        border-radius: 0.4rem;
        background-color: #f3dec6;
        color: #6e3033;
        padding: 1em 2em;
        margin-top: 0.5em;
        z-index: 10;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
        font-weight: bold;
        -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
        transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out; }
        .current-projects .cp-grid > div a:hover {
          background-color: #6e3033;
          color: #f3dec6; }
    .current-projects .cp-grid h2 {
      line-height: 1.2;
      font-size: 1.3em;
      padding-bottom: 0.8em;
      text-align: center;
      z-index: 10; }
    .current-projects .cp-grid .search-engine {
      grid-row: 1 / 3; }
      .current-projects .cp-grid .search-engine:after {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(26, 26, 26, 0.5))), url("../images/search-engine.jpg");
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(26, 26, 26, 0.5)), url("../images/search-engine.jpg"); }
    .current-projects .cp-grid .missing-lemmas {
      grid-row: 3 / 5;
      grid-column: 1; }
      .current-projects .cp-grid .missing-lemmas:after {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(26, 26, 26, 0.5))), url("../images/lemma.jpg");
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(26, 26, 26, 0.5)), url("../images/lemma.jpg"); }
    .current-projects .cp-grid .volunteer-manuscripts {
      grid-column: 2 / 5;
      grid-row: 1; }
      .current-projects .cp-grid .volunteer-manuscripts:after {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(26, 26, 26, 0.5))), url("../images/ocr.png");
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(26, 26, 26, 0.5)), url("../images/ocr.png"); }
    .current-projects .cp-grid .scanning {
      grid-column: 5;
      grid-row: 1/ 5; }
      .current-projects .cp-grid .scanning:after {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(26, 26, 26, 0.5))), url("../images/scanning.png");
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(26, 26, 26, 0.5)), url("../images/scanning.png"); }
      @media only screen and (max-width: 960px) {
        .current-projects .cp-grid .scanning {
          grid-column: 1 / 5;
          grid-row: 5 / 6; }
          .current-projects .cp-grid .scanning li {
            display: inline-block; } }
  .current-projects .aratus {
    grid-column: 2;
    grid-row: 2 / 4; }
    .current-projects .aratus .card-content {
      text-align: center; }
    .current-projects .aratus:after {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(26, 26, 26, 0.5))), url("../images/aratus.png");
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(26, 26, 26, 0.5)), url("../images/aratus.png"); }
  .current-projects .caesar {
    grid-column: 3;
    grid-row: 2 / 4; }
    .current-projects .caesar .card-content {
      text-align: center; }
    .current-projects .caesar:after {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(26, 26, 26, 0.5))), url("../images/caesar.png");
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(26, 26, 26, 0.5)), url("../images/caesar.png"); }
  .current-projects .illustrations {
    grid-column: 2 / 4;
    grid-row: 4; }
    .current-projects .illustrations:after {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(26, 26, 26, 0.5))), url("../images/illustration.png");
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(26, 26, 26, 0.5)), url("../images/illustration.png"); }
  .current-projects .new-authors {
    grid-column: 4 / 5;
    grid-row: 2 / 5; }
    .current-projects .new-authors:after {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(26, 26, 26, 0.5))), url("../images/authors.png");
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(26, 26, 26, 0.5)), url("../images/authors.png"); }

.join {
  padding: 0 2em;
  margin: 2em 2em 2em 7em;
  display: inline-block;
  font-size: 16px;
  padding: 1rem 2rem;
  margin-top: 2em;
  border-radius: 0.4rem;
  background-color: #6e3033;
  color: #fffbf6;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, box-shadow 0.35s ease-in-out; }
  .join:hover {
    background-color: #f3dec6;
    color: #6e3033;
    box-shadow: 0 0 1em #6e3033; }

body {
  background-color: #fffbf6; }

.banner {
  height: 28em;
  position: relative;
  margin-bottom: 7em; }
  @media only screen and (max-width: 768px) {
    .banner {
      margin-bottom: 28em; } }
  .banner:after {
    content: '';
    background-image: url(https://images.unsplash.com/photo-1565022074377-642f6eb0eca6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8; }
  .banner-logo {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 10; }
    .banner-logo > img {
      display: block;
      width: 10em;
      height: auto; }
  .banner-elements {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly; }
    @media only screen and (max-width: 768px) {
      .banner-elements {
        display: block; } }
    .banner-elements .element {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      background-color: #fffbf6;
      height: 24em;
      width: 17em;
      position: relative;
      top: 12em;
      left: 0;
      z-index: 20;
      border-radius: 0.5em;
      box-shadow: 0 0 1em rgba(110, 48, 51, 0.5);
      padding: 1em;
      text-align: center; }
      @media only screen and (max-width: 768px) {
        .banner-elements .element {
          flex-wrap: wrap;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
                  flex-direction: row;
          -webkit-box-align: center;
                  align-items: center;
          height: 15em;
          width: 100%;
          box-shadow: none;
          border-radius: 0;
          border-bottom: 1px solid #6e3033;
          -webkit-box-pack: center;
                  justify-content: center;
          padding: 0.3em; } }
      .banner-elements .element .fas {
        display: block;
        font-size: 5em;
        padding-bottom: 0.7rem;
        border-bottom: 1px solid black;
        margin: 0 0.5em 0.3em 0.5em;
        color: #502426; }
        @media only screen and (max-width: 768px) {
          .banner-elements .element .fas {
            border-bottom: 0;
            flex-basis: 30%;
            margin: 0;
            padding: 0; } }
      .banner-elements .element a {
        margin-top: 0.6em;
        display: inline-block;
        padding: 0.5em 1em;
        background-color: #502426;
        border-radius: 0.4rem;
        color: #fffbf6;
        -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
        transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out; }
        .banner-elements .element a:hover {
          background-color: #f3dec6;
          color: #6e3033; }
        @media only screen and (max-width: 768px) {
          .banner-elements .element a {
            flex-basis: 100%;
            max-width: 20em;
            margin: 0 auto; } }
      .banner-elements .element p {
        -webkit-box-flex: 1;
                flex-grow: 1; }
        @media only screen and (max-width: 768px) {
          .banner-elements .element p {
            -webkit-box-flex: 0;
                    flex-grow: 0;
            flex-basis: 60%; } }

.new-box:nth-of-type(odd) {
  background-color: rgba(110, 48, 51, 0.5); }
  .new-box:nth-of-type(odd) .new-text {
    margin-left: 5em; }

.new-box:nth-of-type(even) .new-media {
  -webkit-box-ordinal-group: 3;
          order: 2; }

.new-box:nth-of-type(even) .new-text {
  margin-right: 5em; }

@media only screen and (max-width: 768px) {
  .new-box:nth-of-type(even) .new:not(.new-dictionary) img {
    height: 100%;
    width: auto; } }

.new {
  display: -webkit-box;
  display: flex;
  padding: 2em 4em;
  margin: 3rem auto;
  max-width: 80em;
  -webkit-box-align: center;
          align-items: center; }
  @media only screen and (max-width: 1025px) {
    .new {
      display: block; } }
  .new-media {
    position: relative;
    overflow: hidden;
    border-radius: 0.5em;
    box-shadow: 0 0 1em #6e3033;
    height: 20em;
    width: 40em; }
    @media only screen and (max-width: 1025px) {
      .new-media {
        width: 80%;
        margin: 0 auto 2em; } }
    .new-media:after {
      display: block;
      content: "";
      padding-top: 100%; }
    .new-media > img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      height: auto;
      width: 100%; }
  .new-text {
    width: 20em; }
    .new-text h1 {
      text-align: center; }
    @media only screen and (max-width: 1025px) {
      .new-text {
        width: 80%;
        margin: 0 auto; } }

footer {
  padding: 2rem 3rem;
  font-size: 1.2em;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  color: #f3dec6;
  height: 5rem;
  background-color: #6e3033; }
  footer a {
    color: inherit; }
  footer .fab {
    margin-right: 0.5em; }

.site-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 0.7em;
  background-color: #6e3033;
  color: white;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .site-header {
      flex-wrap: wrap;
      -webkit-box-pack: center;
              justify-content: center; } }

.site-title {
  color: #f3dec6;
  font-size: 1.7em; }

.site-logo {
  display: block;
  height: 3em;
  width: auto;
  padding-right: 1em; }
  @media only screen and (max-width: 768px) {
    .site-logo {
      padding: 0; } }

.site-description {
  color: #f3dec6;
  font-style: italic; }

.header-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  @media only screen and (max-width: 768px) {
    .header-group {
      flex-basis: 100%;
      -webkit-box-pack: center;
              justify-content: center;
      text-align: center; } }

.site-nav-label {
  display: none; }
  @media only screen and (max-width: 1025px) {
    .site-nav-label {
      display: block;
      text-transform: uppercase;
      color: #f3dec6;
      margin-left: 0.5em;
      padding: 0.5em;
      border-radius: 0.4em;
      border: 1px solid #f3dec6; } }

.site-nav {
  margin-left: 2em; }
  @media only screen and (max-width: 1025px) {
    .site-nav {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%; } }
  .site-nav ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }
    @media only screen and (max-width: 1025px) {
      .site-nav ul {
        display: block;
        position: absolute;
        top: 5em;
        right: 0;
        background-color: #6e3033;
        z-index: 30; } }
    @media only screen and (max-width: 768px) {
      .site-nav ul {
        right: 0;
        left: 0;
        top: 11em; } }
    .site-nav ul ul {
      display: none;
      background-color: #6e3033;
      position: absolute;
      top: 1.4em;
      left: -1.5em;
      min-width: 100%;
      padding: 1em;
      border-radius: 0.4rem; }
      .site-nav ul ul li:first-of-type {
        margin-bottom: 0.6em; }
      .site-nav ul ul li a {
        -webkit-transition: color 0.2s ease-in;
        transition: color 0.2s ease-in; }
        .site-nav ul ul li a:hover {
          text-decoration: underline;
          color: #fffbf6; }
  .site-nav li {
    margin-left: 0.5em;
    position: relative; }
    @media only screen and (max-width: 1025px) {
      .site-nav li {
        padding: 1em; } }
    @media only screen and (max-width: 768px) {
      .site-nav li {
        text-align: center; } }
    .site-nav li:hover > ul {
      display: block;
      z-index: 40; }
  .site-nav a {
    color: #f3dec6;
    text-transform: uppercase;
    padding: 0.5em; }
  .site-nav > ul > li > a {
    border-radius: 0.4em;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out; }
    .site-nav > ul > li > a:hover {
      background-color: #f3dec6;
      color: #6e3033; }
  .site-nav > ul > li:nth-of-type(2) > a {
    position: relative;
    cursor: pointer;
    z-index: 60; }

.site > .site-nav-toggle {
  display: block;
  position: absolute;
  visibility: hidden;
  pointer-events: none; }
  @media only screen and (max-width: 1025px) {
    .site > .site-nav-toggle:checked + .site-header .site-nav {
      display: block; } }

.subscribe {
  color: #6e3033;
  background-color: #f3dec6;
  padding: 0.5em;
  margin-left: 0.5em;
  border-radius: 0.4em;
  text-transform: uppercase;
  -webkit-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out; }
  .subscribe:hover {
    background-color: #fffbf6; }

.search {
  margin-left: auto;
  display: -webkit-box;
  display: flex; }
  @media only screen and (max-width: 768px) {
    .search {
      margin: 0; } }
  .search .search-field {
    display: block;
    padding: 0.3em;
    border: 3px solid #f3dec6;
    border-right: none;
    height: 2em;
    border-radius: 0.4rem 0 0 0.4rem;
    color: #6e3033;
    outline: none;
    background-color: #f3dec6;
    margin-left: 0.5em; }
  .search .search-button {
    display: block;
    width: 2em;
    height: 1.4em;
    border: 1px solid #f3dec6;
    background-color: #f3dec6;
    text-align: center;
    color: #6e3033;
    border-radius: 0 0.4rem 0.4rem 0;
    cursor: pointer;
    font-size: 1.44em;
    outline: none; }
    .search .search-button::-webkit-input-placeholder {
      color: rgba(110, 48, 51, 0.5); }
    .search .search-button::-moz-placeholder {
      color: rgba(110, 48, 51, 0.5); }
    .search .search-button:-ms-input-placeholder {
      color: rgba(110, 48, 51, 0.5); }
    .search .search-button::-ms-input-placeholder {
      color: rgba(110, 48, 51, 0.5); }
    .search .search-button::placeholder {
      color: rgba(110, 48, 51, 0.5); }

.page-dictionaries {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap; }

.page-info {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1565022074377-642f6eb0eca6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
  z-index: 10;
  position: relative; }
  .page-info:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8; }
  .page-info .page-info-logo {
    z-index: 20;
    position: relative; }
    .page-info .page-info-logo img {
      width: 10em;
      height: auto;
      display: block;
      margin: 0 auto; }
  .page-info .page-info-wrapper {
    max-width: 70em;
    z-index: 20;
    display: -webkit-box;
    display: flex;
    margin: 0 auto;
    padding: 0 2em 1em;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
    position: relative; }
    .page-info .page-info-wrapper .page-info-languages {
      background-color: rgba(67, 122, 161, 0.7);
      padding: 1em;
      border-radius: 0.5em;
      color: white;
      max-width: 20em;
      text-align: center; }
      .page-info .page-info-wrapper .page-info-languages h2 {
        font-size: 1.2em;
        margin-bottom: 0.3em; }
      .page-info .page-info-wrapper .page-info-languages a {
        color: white; }
    .page-info .page-info-wrapper .page-info-general {
      display: -webkit-box;
      display: flex;
      max-width: 50em;
      font-style: italic;
      margin-left: 3em; }
      .page-info .page-info-wrapper .page-info-general .dict-banner-text {
        margin-left: 1.5em;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
        color: white;
        width: 33%; }
      .page-info .page-info-wrapper .page-info-general .fas {
        font-size: 1.5em;
        margin-bottom: 0.4em; }
      .page-info .page-info-wrapper .page-info-general p {
        color: white;
        font-size: 1.2em;
        text-align: center;
        text-shadow: 0.4em 0.4em 0.3em black; }

.page-dictionaries .buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  font-size: 1.3em;
  width: 100%;
  background-color: #6e3033;
  border-radius: 0.2em; }
  .page-dictionaries .buttons .button {
    padding: 0.2em 0.5em;
    color: #fffbf6;
    margin-left: 0.2em;
    border-radius: 0.2em; }

.dictionary-wrapper {
  -webkit-box-flex: 1;
          flex: 1;
  margin: 0 2em; }

.dictionary-box {
  min-width: 40em;
  max-width: 60em;
  margin: 3em auto;
  border-radius: 0.3em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  background-color: #fffcf9;
  position: relative;
  left: 5em; }

.language {
  display: inline-block;
  text-align: center;
  color: #6e3033;
  position: absolute;
  top: -1.3em;
  left: 0.3em;
  border-radius: 0.2em;
  background-color: #437aa1;
  z-index: 10;
  padding: 0.3em 0.5em;
  color: #fffbf6;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); }

.dictionary-main {
  font-size: 1.2em;
  position: relative;
  height: 15em; }
  .dictionary-main .dict-main-item {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.dict-show-toggle {
  display: block;
  position: absolute;
  visibility: hidden;
  pointer-events: none; }

.dict-show-toggle:checked + .dict-main-item {
  opacity: 1; }

.dict-main-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0.5em 0 0.5em; }
  .dict-main-item .dict-data-item,
  .dict-main-item .proj-data-item {
    width: 30%;
    padding: 1em;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around;
    border-radius: 0.2rem; }
    .dict-main-item .dict-data-item .info-pair,
    .dict-main-item .proj-data-item .info-pair {
      margin-bottom: 0.3em; }
    .dict-main-item .dict-data-item .data-key,
    .dict-main-item .dict-data-item .data-value,
    .dict-main-item .proj-data-item .data-key,
    .dict-main-item .proj-data-item .data-value {
      text-align: center; }
    .dict-main-item .dict-data-item .data-key,
    .dict-main-item .proj-data-item .data-key {
      background-color: rgba(110, 48, 51, 0.2); }
      .dict-main-item .dict-data-item .data-key::first-letter,
      .dict-main-item .proj-data-item .data-key::first-letter {
        text-transform: capitalize; }
  .dict-main-item .dict-image-item {
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    border-radius: 0.2em;
    width: 40%; }
    .dict-main-item .dict-image-item img {
      display: block;
      width: auto;
      height: 100%; }

.dictionary-sidebar {
  flex-basis: 30%;
  background-color: #437aa1; }
  .dictionary-sidebar > div {
    margin: 2em 1em 2em 5em;
    text-align: center;
    max-width: 20em;
    padding: 1.5em;
    border-radius: 0.4em;
    color: white; }
    .dictionary-sidebar > div h3 {
      margin-bottom: 0.5em;
      border-bottom: 0.1em solid white; }

.page-translations img {
  width: 10em; }

.translations-box.greek {
  max-width: 65em;
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.4fr 0.8fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.8fr 0.7fr 0.7fr;
  grid-gap: 1em;
  margin: 5em auto; }
  .translations-box.greek > div {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 0.3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); }
  .translations-box.greek .lang-section {
    position: relative;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.8); }
    .translations-box.greek .lang-section .lang-sec-logo {
      overflow: hidden;
      position: relative;
      bottom: 3em;
      margin: 0 auto 1em;
      border-radius: 50%;
      width: 14em;
      height: 14em;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
      background-color: #437aa1; }
      .translations-box.greek .lang-section .lang-sec-logo img {
        width: auto;
        height: 100%; }
    .translations-box.greek .lang-section .lang-section-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
      .translations-box.greek .lang-section .lang-section-info p {
        text-align: center; }
        .translations-box.greek .lang-section .lang-section-info p:first-of-type {
          font-size: 1.5em;
          color: #502426;
          font-weight: bold;
          background-color: #f3dec6; }
        .translations-box.greek .lang-section .lang-section-info p:nth-of-type(2) {
          color: #6e3033; }
  .translations-box.greek .author {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: end;
            justify-content: flex-end;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden; }
    .translations-box.greek .author:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5); }
    .translations-box.greek .author:hover ul {
      opacity: 1;
      -webkit-transform: translate(0);
              transform: translate(0); }
  .translations-box.greek h3,
  .translations-box.greek .years {
    text-align: center;
    z-index: 10; }
  .translations-box.greek h3 {
    background-color: #6e3033;
    padding: 0.2em 0;
    color: white;
    text-transform: uppercase; }
  .translations-box.greek .years {
    margin: 0.1em 0 2em;
    background-color: rgba(255, 255, 255, 0.8); }
  .translations-box.greek ul {
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 0 1em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-pack: center;
            justify-content: center;
    background-color: rgba(243, 222, 198, 0.8);
    opacity: 0;
    -webkit-transform: translateY(20rem);
            transform: translateY(20rem);
    -webkit-transition: opacity 0.6s ease-in-out, -webkit-transform 0.6s;
    transition: opacity 0.6s ease-in-out, -webkit-transform 0.6s;
    transition: opacity 0.6s ease-in-out, transform 0.6s;
    transition: opacity 0.6s ease-in-out, transform 0.6s, -webkit-transform 0.6s;
    color: #502426;
    z-index: 20; }
  .translations-box.greek li {
    display: -webkit-box;
    display: flex;
    margin-bottom: 0.3em;
    font-size: 1.1em; }
    .translations-box.greek li:last-of-type {
      margin-bottom: 0; }
    .translations-box.greek li p {
      display: inline-block; }
  .translations-box.greek li:before {
    display: inline-block;
    content: "\00BB";
    margin-right: 0.2em;
    color: #502426; }
  .translations-box.greek .lang-section {
    grid-column: 3 / 5;
    grid-row: 1 / 2; }
  .translations-box.greek .timeline-authors {
    grid-column: 1;
    grid-row: 1 / 6; }
  .translations-box.greek .lysias {
    grid-column: 2 / 4;
    grid-row: 4 / 6; }
  .translations-box.greek .homer {
    grid-column: 6;
    grid-row: 3; }
  .translations-box.greek .plato {
    grid-column: 5;
    grid-row: 1 / 4; }
  .translations-box.greek .lucian {
    grid-column: 2 / 5;
    grid-row: 2 / 4; }
  .translations-box.greek .herodotus {
    grid-column: 5;
    grid-row: 5; }
  .translations-box.greek .sophocles {
    grid-column: 4  / 6;
    grid-row: 4; }
    .translations-box.greek .sophocles ul {
      width: 100%;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row; }
      .translations-box.greek .sophocles ul li {
        flex-basis: 33%;
        width: 33%; }
  .translations-box.greek .aristophanes {
    grid-column: 6;
    grid-row: 4 / 6; }
  .translations-box.greek .euripides {
    grid-column: 2;
    grid-row: 1; }
  .translations-box.greek .aeschylus {
    grid-column: 6;
    grid-row: 1 / 3; }
  .translations-box.greek .hippocrates {
    grid-column: 4;
    grid-row: 5; }

.timeline-authors {
  overflow: hidden; }
  .timeline-authors h3 {
    margin-bottom: 1em; }
  .timeline-authors .t-years {
    border-left: 1px solid #6e3033;
    margin-left: 0.7em; }
    .timeline-authors .t-years span {
      display: block; }
    .timeline-authors .t-years .century:before {
      content: "⦿";
      position: relative;
      left: -0.5em;
      color: #6e3033; }
    .timeline-authors .t-years .t-author {
      padding: 0.3em;
      background-color: #6e3033;
      color: white;
      margin-left: 0.5em;
      margin-bottom: 0.3em;
      border-radius: 0.3em 0 0 0.3em; }
