.about {
    max-width: 70em;
    padding: 0 2em;
    margin: 2em auto;
    h1, h2 {
        padding: 0 0 0.5em;
    }
    
    p {
        padding-bottom: 0.5em;
    }
}

.history {
    display: flex;
    align-items: center;
    &-main {
        img {
            display: block;
            width: 18em;
            float: left;
            margin-right: 2em;
            margin-bottom: 1em;
            border-radius: 0.3rem;
            box-shadow: 0 0 1em rgba($color: $main-color-dark, $alpha: 0.7);
        }
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
    &-buttons {
        margin-left: 3em;
        width: 50em;
        span {
            display: block;
            font-size: 1.3em;
            padding: 3rem 2rem;
            background-color: white;
            min-width: 18rem;
            text-align: center;
            text-transform: uppercase;
            color: $main-color-lighter;
            border-radius: 0.4rem;
            box-shadow: 0 0 1em rgba($color: black, $alpha: 0.5);
        }
        .button-p {
            margin-bottom: 1em;
            background-color: rgb(100, 141, 103);
        }
        .button-c {
            background-color: rgb(29, 125, 129);
        }
    }
}

.join {
    display: inline-block;
    font-size: 16px;
    padding: 1rem 2rem;
    margin-top: 2em;
    border-radius: 0.4rem;
    background-color: $main-color-dark;
    color: $main-color-light;
}