.about {  
    h1 {
        padding: 0 3em 0.5em;
        font-size: 2em;
    }
    
    p {
        padding-bottom: 0.5em;
    }
}

.history {
    max-width: 70em;
    padding: 0 2em;
    margin: 2em auto;
    display: flex;
    align-items: center;
    margin-bottom: 5em;
    @include phone {
        flex-wrap: wrap;
    }
    &-main {
        img {
            display: block;
            width: 18em;
            float: left;
            margin-right: 2em;
            margin-bottom: 1em;
            border-radius: 0.3rem;
            box-shadow: 0 0 1em rgba($color: $main-color-dark, $alpha: 0.7);
        }
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
    &-buttons {
        margin-left: 3em;
        width: 50em;
        @include phone {
            flex-basis: 100%;
            margin: 0;
        } 
        a {
            display: block;
            font-size: 1.3em;
            padding: 3rem 2rem;
            background-color: white;
            min-width: 21rem;
            text-align: center;
            text-transform: uppercase;
            color: $main-color-lighter;
            border-radius: 0.4rem;
            box-shadow: 0 0 1em rgba($color: black, $alpha: 0.1);
            position: relative;
            transition: transform .35s ease-in-out;
            &:after {
                content: "";
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                opacity: 0.6;
                filter: blur(1.5px);
                display: block;
                z-index: -1;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
        .button-p {
            margin-bottom: 1em;
            background-color: rgba($color: $color-green, $alpha: 0.6);
            &:after {
                background-image: url('../images/button-p.png');
            }
        }
        .button-c {
            background-color: rgba($color: $color-blue, $alpha: 0.6);
            &:after {
                background-image: url('../images/button-c.jpg');
            }
        }
    }
}

// .mission {
//     position: relative;
//     margin: 0 auto;
//     height: 30em;
//     h1 {
//         order: -2;
//         width: 100%;
//         text-align: center;
//     }
//     .media {
//     img {
//         width: 25em;
//         position: absolute;
//         top: 0; left: 0;
//     }
//     }
//     // p {
//     //     text-align: center;
//     //     font-size: 1.2em;
//     // }
//     &-list {
//         ul {
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             align-items: flex-end;
//             li {
//                 margin-bottom: 1em;
//                 padding: 0.7em;
//                 padding-left: 10em;
//                 font-size: 1.2em;
//                 background-color: rgba($color-green, 0.7);
//                 border-radius: 0.5em;
//                 color: $main-color-dark;
//                 width: 80%;
//                 // box-shadow: 0 0 1em rgba($color: black, $alpha: 0.2);
//             }
//         }
//     }
// }

.mission-wrapper {
    background-color: $main-color-dark-lighter;
    padding: 0.3em 0;
}

.mission {
    display: grid;
    grid-template-columns: 1.5fr 8em 2fr;
    align-items: center;
    max-width: 70em;
    padding: 0 2em;
    margin: 2em auto;
    @include phone-smaller {
        display: block;
    }
    h1 {
        grid-column: 1 / 4;
    }
    .media {
        grid-column: 1 / 3;
        grid-row: 2;
        z-index: 10;
        @include phone-smaller {
            max-width: 20em;
            margin: 0 auto;
        }
        img {
            width: 100%;
            border-radius: 50%;
            padding: 0.1em;
            background-color: $main-color-dark-lighter;
        }
    }
    &-list {
        grid-column: 2 / 4;
        grid-row: 2;
        li{
            font-size: 1.1em;
            background-color: $color-green;
            padding: 1em;
            padding-left: 9rem;
            margin-bottom: 1em;
            color: $main-color-lighter;
            &:nth-child(odd) {
                padding-left: 7.5rem;
            }
            // .fas {
            //     margin-right: 0.5em;
            //     border-radius: 50%;
            //     background-color: $main-color-light;
            //     color: $color-green;
            // }
        }
    }
}

.current-projects {
    max-width: 80em;
    padding: 0 2em;
    margin: 2em auto;
.cp-text {
    p {
        font-size: 1.2em;
        margin-left: 1em;
        padding-bottom: 1em;
    }
}
.cp-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1.3fr 1fr 0.8fr 1.6fr;
    grid-gap: 0.7em;
    @include tablet-small {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1.3fr 1fr 0.8fr 1.6fr 1fr;
    }
    @include phone-smaller {
        display: block;
    }
    li {
        display: list-item;
        list-style: circle;
        list-style-position: inside;
    }
    & > div {
        background-color: $main-color-darker;
        padding: 1.5em;
        border-radius: 0.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        color: white;
        box-shadow: 0 0 1em rgba($color: black, $alpha: 0.3);
        @include phone-smaller {
            margin-bottom: 1em;
        }
        &:after {
            content: "";
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            opacity: 0.5;
            filter: blur(1.5px);
        }
        .card-content {
            flex-grow: 1;
            z-index: 10;
            font-size: 1.1em;
            text-shadow: 0 0 1em rgba($color: black, $alpha: 1);
        }
        a {
            display: inline-block;
            border-radius: 0.4rem;
            background-color: $main-color-light;
            color: $main-color-dark;
            padding: 1em 2em;
            margin-top: 0.5em;
            z-index: 10;
            box-shadow: 0 0 1em rgba($color: black, $alpha: 0.1);
            font-weight: bold;
            transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
            &:hover {
                background-color: $main-color-dark;
                color: $main-color-light;
            }
        }
    }
    h2 {
        line-height: 1.2;
        font-size: 1.3em;
        padding-bottom: 0.8em;
        text-align: center;
        z-index: 10;
    }
    .search-engine {
        grid-row: 1 / 3;
        &:after {
        background-image:  linear-gradient(rgba($color: black, $alpha: 0.5), rgba($color: rgb(26, 26, 26), $alpha: 0.5)), url('../images/search-engine.jpg');
        }
    }
    .missing-lemmas {
        grid-row: 3 / 5;
        grid-column: 1;
        &:after {
        background-image:  linear-gradient(rgba($color: black, $alpha: 0.5), rgba($color: rgb(26, 26, 26), $alpha: 0.5)), url('../images/lemma.jpg');
        }
    }
    .volunteer-manuscripts {
        grid-column: 2 / 5;
        grid-row: 1;
        &:after {
        background-image:  linear-gradient(rgba($color: black, $alpha: 0.5), rgba($color: rgb(26, 26, 26), $alpha: 0.5)), url('../images/ocr.png');
        }
    }
    .scanning {
        grid-column: 5;
        grid-row: 1/ 5;
        &:after {
        background-image:  linear-gradient(rgba($color: black, $alpha: 0.5), rgba($color: rgb(26, 26, 26), $alpha: 0.5)), url('../images/scanning.png');
        }
        @include tablet-small {
            grid-column: 1 / 5;
            grid-row: 5 / 6;
            li {
                display: inline-block;
            }
        }
        }
    }
    .aratus {
        grid-column: 2;
        grid-row: 2 / 4;
        .card-content {
            text-align: center;
        }
        &:after {
        background-image:  linear-gradient(rgba($color: black, $alpha: 0.5), rgba($color: rgb(26, 26, 26), $alpha: 0.5)), url('../images/aratus.png');
        }
    }
    .caesar {
        grid-column: 3;
        grid-row: 2 / 4;
        .card-content {
            text-align: center;
        }
        &:after {
        background-image:  linear-gradient(rgba($color: black, $alpha: 0.5), rgba($color: rgb(26, 26, 26), $alpha: 0.5)), url('../images/caesar.png');
        }
    }
    .illustrations {
        grid-column: 2 / 4;
        grid-row: 4;
        &:after {
            background-image:  linear-gradient(rgba($color: black, $alpha: 0.5), rgba($color: rgb(26, 26, 26), $alpha: 0.5)), url('../images/illustration.png');
        }
    }
    .new-authors {
        grid-column: 4 / 5;
        grid-row: 2 / 5;
        &:after {
        background-image:  linear-gradient(rgba($color: black, $alpha: 0.5), rgba($color: rgb(26, 26, 26), $alpha: 0.5)), url('../images/authors.png');
        }
    }
}

.join {
    padding: 0 2em;
    margin: 2em 2em 2em 7em;
    display: inline-block;
    font-size: 16px;
    padding: 1rem 2rem;
    margin-top: 2em;
    border-radius: 0.4rem;
    background-color: $main-color-dark;
    color: $main-color-lighter;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
    &:hover {
        background-color: $main-color-light;
        color: $main-color-dark;
        box-shadow: 0 0 1em rgba($color: $main-color-dark, $alpha: 1);
    }
}