.dictionary-wrapper {
    background-color: $main-color-dark-lighter
}

.dictionary-box {
    max-width: 60em;
    margin: 0 auto 2em;
    padding: 2em;
}

.page-dictionaries {
    font-size: 1.2em;
    .buttons {
        display: flex;
        justify-content: center;
        font-size: 1.3em;
        margin-bottom: 0.2em;
        width: 100%;
        .button {
            padding: 0.2em 0.5em;
            background-color: $main-color-dark;
            color: $main-color-lighter;
            margin-left: 0.2em;
            border-radius: 0.2em;
        }
    }
}

.language {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
}

.dictionary-main {
    position: relative;
    height: 15em;
    .dict-main-item {
        opacity: 0;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
    }

}


.dict-show-toggle {
    display: block;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

.dict-show-toggle:checked {
    & + .dict-main-item {
        opacity: 1; 
    }
}

.dict-main-item {
    display: flex;
    justify-content: space-between;
    .dict-data-item,
    .proj-data-item {
        width: 28%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 0.2rem;
        .data-key,
        .data-value {
            text-align: center;
        }
        .data-key {
            background-color: rgba($color: white, $alpha: 0.5);
            &::first-letter {
                text-transform: capitalize;
            }
        }
    }
    .dict-data-item {
        background-color: $main-color-light;
    }
    .proj-data-item {
        background-color: $main-color-light;
    }
    .dict-image-item {
        width: 40%;
        overflow: hidden;
        box-shadow: 0 0 1em rgba($color: black, $alpha: 0.5);
        border-radius: 0.2em;
        img {
            display: block;
            width: auto;
            height: 100%;
        }
    }
}