.site-header {
    display: flex;
    align-items: center;
    padding: 0.7em;
    background-color: $main-color-dark;
    color: white;
    position: relative;
    @include phone-smaller {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.site-title {
    color: $main-color-light;
    font-size: 1.7em;
}

.site-logo {
    display: block;
    height: 3em;
    width: auto;
    padding-right: 1em;
    @include phone-smaller {
        padding: 0;
    }
}

.site-description {
    color: $main-color-light;
    font-style: italic;
}

.header-group {
    display: flex;
    flex-direction: column;
    @include phone-smaller {
        flex-basis: 100%;
        justify-content: center;
        text-align: center;
    }
}



// navigation
.site-nav-label {
    display: none;
    @include tablet {
        display: block;
        text-transform: uppercase;
        color: $main-color-light;
        margin-left: 0.5em;
        padding: 0.5em;
        border-radius: 0.4em;
        border: 1px solid $main-color-light;
}
}

.site-nav {
    margin-left: 2em;
    @include tablet {
        display: none;
        position: absolute;
        top: 0; right: 0;
        width: 100%;
    }
    
    ul {
        display: flex;
        @include tablet {
            display: block;
            position: absolute;
            top: 5em; right: 0;
            background-color: $main-color-dark;
            z-index: 10;
        }
        @include phone-smaller {
            right: 0; left: 0;
            top: 11em;
        }
    }
    li {
        margin-left: 0.5em;
        @include tablet {
            padding: 1em;
        }
        @include phone-smaller {
            text-align: center;
        }
    }
    a {
        color: $main-color-light;
        text-transform: uppercase;
        padding: 0.5em;
        border-radius: 0.4em;
        transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
        &:hover {
            background-color: $main-color-light;
            color: $main-color-dark;
        }
    }
}

.site > .site-nav-toggle {
    display: block;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    @include tablet {
        &:checked + .site-header .site-nav {
            display: block;            
        }
    }
}

.subscribe {
    color: $main-color-dark;
    background-color: $main-color-light;
    padding: 0.5em;
    margin-left: 0.5em;
    border-radius: 0.4em;
    text-transform: uppercase;
    transition: background-color 0.35s ease-in-out;
    &:hover {
        background-color: $main-color-lighter;
    }
}

.search {
    margin-left: auto;
    display: flex;
    @include phone-smaller {
        margin: 0;
    }
    .search-field {
        display: block;
        padding: 0.3em;
        border: 3px solid $main-color-light;
        border-right: none;
        height: 2em;
        border-radius: 0.4rem 0 0 0.4rem;
        color: $main-color-dark;
        outline: none;
        background-color: $main-color-light;
        margin-left: 0.5em;
    }    
    .search-button {
        display: block;
        width: 2em;
        height: 1.4em;
        border: 1px solid $main-color-light;
        background-color: $main-color-light;
        text-align: center;
        color: $main-color-dark;
        border-radius: 0 0.4rem 0.4rem 0;
        cursor: pointer;
        font-size: 1.44em;
        outline: none;
        &::placeholder {
            color: rgba($main-color-dark, 0.5);
        }
    }
}