.site-header {
    display: flex;
    align-items: center;
    padding: 0.7em;
    background-color: $main-color-dark;
    color: white;
    position: fixed;
    top: 0; left: 0; right: 0;
}

.site-title {
    color: $main-color-light;
    font-size: 1.7em;
}

.site-logo {
    display: block;
    height: 3em;
    width: auto;
    padding-right: 1em;
}

.site-description {
    color: $main-color-light;
    font-style: italic;
}

.header-group {
    display: flex;
    flex-direction: column;
}

// navigation

.site-nav {
    margin-left: auto;
    ul {
        display: flex;
    }
    li {
        margin-left: 0.5em;
    }
    a {
        color: $main-color-light;
        text-transform: uppercase;
    }
}

.search {
    margin-left: 0.5em;
}