@import 'about';

body {
    background-color: $main-color-lighter;
}

.banner {
    height: 28em;
    position: relative;
    margin-bottom: 7em;
    &:after {
        content: '';
        background-image: url(https://images.unsplash.com/photo-1565022074377-642f6eb0eca6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        opacity: 0.8;
    }
    &-logo {
        position: absolute;
        top: 0; left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        & > img {
            display: block;
            width: 10em;
            height: auto;
        }
    }
        // &-title {
        //     text-align: center;
        //     color: $main-color-dark;
        //     -webkit-text-stroke: 0.2px $main-color-dark;
        //     font-size: 4em;
        //     font-weight: bold;
        // }
    &-elements {
        display: flex;
        justify-content: space-evenly;
        .element {
            display: flex;
            flex-direction: column;
            background-color: $main-color-lighter;
            height: 24em;
            width: 17em;
            position: relative;
            top: 12em; left: 0;
            z-index: 20;
            border-radius: 0.5em;
            box-shadow: 0 0 1em rgba($color: $main-color-dark, $alpha: 0.5);
            padding: 1em;
            text-align: center;
            .fas {
                display: block;
                font-size: 5em;
                padding-bottom: 0.7rem;
                border-bottom: 1px solid black;
                margin: 0 0.5em 0.3em 0.5em;
                color: $main-color-darker;
                // background-color: gray;
                // border-radius: 0.4rem;
            }
            a {
                margin-top: 0.6em;
                display: inline-block;
                padding: 0.5em 1em;
                background-color: $main-color-darker;
                border-radius: 0.4rem;
                color: $main-color-lighter;
                transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
                &:hover {
                background-color: $main-color-light;
                color: $main-color-dark;
                }
            }
            p {
                flex-grow: 1;
            }
        }
        .dictionaries {

        }
    }
}

.new-box {
    &:nth-of-type(odd) {
        background-color: rgba($color: $main-color-dark, $alpha: 0.5);
        .new-text {
            margin-left: 5em;
        }
    }
    &:nth-of-type(even) {
        .new-media {
            order: 2;
        }
        .new-text {
            margin-right: 5em;
        }
    }

}
.new {
    display: flex;
    padding: 2em 4em;
    margin: 3rem auto;
    max-width: 80em;
    &-media {
        position: relative;
        overflow: hidden;
        border-radius: 0.5em;
        box-shadow: 0 0 1em rgba($color: $main-color-dark, $alpha: 1.0);
        &:after {
            display: block;
            content: "";
            height: 20em;
            width: 40em;
        }
        & > img {
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            height: auto;
            width: 100%;
        }
    }
    &-text {
        width: 20em;
        h1 {
            text-align: center;
        }
    }
}

footer {
    padding: 2rem 3rem;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    color: $main-color-light;
    height: 5rem;
    background-color: $main-color-dark;
    a {
        color: inherit;
    }
    .fab {
        margin-right: 0.5em;
    }
}