$main-color-light: rgb(243, 222, 198);
$main-color-medium: rgb(255, 242, 227);
$main-color-lighter: rgb(255, 251, 246);
$main-color-dark: rgb(110, 48, 51);
$main-color-darker: rgb(80, 36, 38);
$color-blue: rgb(29, 125, 129);
$main-color-dark-lighter: rgb(190, 173, 175);
$color-green: rgb(100, 141, 103);

// mix-ins
$media-query-sizes: (
    large: 1600px,
    tablet: 1025px,
    tablet-small: 960px,
    phone: 768px,
    phone-smaller: 700px,
    phone-vsmall: 400px
);

@mixin large() {
    @media only screen and (min-width: #{map-get($media-query-sizes, "large")}) {
        @content;
    }
}
@mixin tablet() {
    @media only screen and (max-width: #{map-get($media-query-sizes, "tablet")}) {
        @content;
    }
}
@mixin tablet-small() {
    @media only screen and (max-width: #{map-get($media-query-sizes, "tablet-small")}) {
        @content;
    }
}
@mixin phone() {
    @media only screen and (max-width: #{map-get($media-query-sizes, "phone")}) {
        @content;
    }
}
@mixin phone-smaller() {
    @media only screen and (max-width: #{map-get($media-query-sizes, "phone")}) {
        @content;
    }
}
@mixin phone-vsmall() {
    @media only screen and (max-width: #{map-get($media-query-sizes, "phone-vsmall")}) {
        @content;
    }
}
