<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <title>{{ site.title }} | {{ page.title }}</title>
</head>
<body>
    <header class="site-header">
        <a href="{{ site.baseurl }}">
            <p class="site-title">{{ site.title }}</p>
        </a>
        <a href="{{ site.baseurl }}"><img class="site-logo" src="{{ site.baseurl }}/images/chelidwn-logo.svg" alt=""></a>
        <p class="site-description">{{ site.description }}</p>

        <nav class="site-nav">
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Contributors</a></li>
            </ul>
        </nav>
    </header>
    <main class="site-main">
        <div class="banner">

        </div>
        {{ content }}
    </main>
    <footer class="site-footer"></footer>
</body>
</html>